*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-th{
    background-color: black;
}

.top-head img{
    width: 100px;
}

.jumbotron{
    background-image: url("img/jumbo-bg.png");
    background-size: cover;
}

.sec-firts img{
    border-radius: 10px;
}

.sec-firth{
    background-image: url("img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
}

.sec-fifth{
    background-color: hsl(0deg 0% 12%);;
}

.sec-fifth img{
    border-radius: 10px;
}