*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-th{
    background-color: black;
}

.top-head img{
    width: 100px;
}

.btn{
    border-radius: 50px !important;
}

.jumbotron{
    background-image: url("img/jumbo-bg.png");
    background-size: cover;
}

.br10px{
    border-radius: 10px;
}

.sec-firts img{
    transition: 300ms;
}

.imgtransp{
    opacity: 0.5;
}

.sec-firts img:hover{
    transform: translateY(-15px);
    opacity: 1;
}

#imgactive{
    border: 2px solid rgba(59, 59, 201, 0.712);
    padding: 3px;
}

.sec-firth{
    background-image: url("img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
}

.sec-fifth{
    background-color: hsl(0deg 0% 12%);
}

.sec-fifth img{
    border-radius: 10px;
}

.sec-seventh{
    background-color: hsl(20deg 2% 74%);
}

.sec-nineth{
    background-color: hsl(230deg 46% 16%);
}

footer{
    background-color: hsl(214deg 100% 31%);
}
